{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{post.title}}</h1>
        <h6 class="text-center">created at {{post.created_at}}. {% if post.last_updated != post.created_at %}Last update on {{post.last_updated}} {%endif%}</h6>

    {% block post-content %}{% endblock %}

    </div>
{% include 'partials/see_related_posts.html' %}
{% include 'partials/see_latest_posts.html' %}
{% endblock%}


{% block js %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper-script.js' %}"></script>

{% endblock %}