<p>See related posts</p>

<!-- Hier können ähnliche Posts angezeigt werden.
    Ähnlich ist ein Post, wenn er Tags enthält, die dafür relevant sind.
    Umso mehr gleiche Tags ein Post enthält, desto ähnlicher und höher in der Liste steht er.

    Alternativ kann das ganze auch anders gelöst werden, 
        indem das in den Posts selbst gespeichert wird, mit welchen anderen Posts dieser assoziiert werden soll.

    Option 1: automatisch
    Option 2: manuell

    Beide Optionen haben Berechtigung
    Beste Lösung ist eine Mischlösung: Erst werden die manuellen gecheckt und dann die automatischen.
    Insgesamt werden nur eine Anzahl von x Posts zugelassen
-->