{% if latest_posts %}
<div class="container p-5" id="latest-posts">
    <h3 class="text-center">See latest Posts</h3>

    <div id="latest-posts-carousel">
        <div class="row">
            {% for post in latest_posts %}
            <div class="col-sm-3">
                <div class="card">   
                    {% comment %} <img src="..." class="card-img-top" alt="...">                                    {% endcomment %}
                    <div class="card-body">
                        <a href="{% url 'detail-post' slug=post.slug %}" class="text-dark text-decoration-none text-center"><h4 class="card-title">{{post.title}}</h4></a>
                        {% if post.description %}
                        <p class="card-text latest-post-description">{{post.description}}</p>
                        {% endif %}
                    </div>
                
                </div>
            </div>
            {% endfor %}            
        </div>
        
    </div>

</div>
{% endif %}

<!--Hier kann ein eigener widget zum Einsatz kommen, der die neuesten Posts zurückgibt
Über diese kann dann iteriert werden und eine seitliche Liste angezeigt werden
-->