<div class="container" id="latest-posts">
    <h3 class="text-center">See latest Posts</h3>

    <div id="latest-posts-carousel">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">                                        
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">                                        
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">                                        
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

<!--Hier kann ein eigener widget zum Einsatz kommen, der die neuesten Posts zurückgibt
Über diese kann dann iteriert werden und eine seitliche Liste angezeigt werden
-->