body {
    font-family: Arial, sans-serif;
    text-align: justify;

}

.theme-color {
    background-color: rgb(176, 229, 252);
}



* {
    box-sizing: border-box;
    font-family: 'sans-serif';
}

.related-post-section {
    padding: 40px;
}